{% extends "base.html" %}
{% block content %}

<!-- <h1 class="text-xl font-bold mb-4">Accounts</h1> -->
<h1 class="text-2xl font-bold mb-6 text-center">Accounts</h1>
<!-- Create Account Button -->
<div class="mt-6 px-4">
<a href="/ui/accounts/create"
   class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 px-4 py-2 inline-block">
  Create Account
</a>
</div>

<!-- Accounts Table -->
<div class="mt-6 px-4">
  <table class="w-full border rounded shadow whitespace-nowrap">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-3 py-2 text-left">Username</th>
        <th class="px-3 py-2 text-left">Role</th>
        <th class="px-3 py-2 text-left">Actions</th>
      </tr>
    </thead>

    <tbody id="accounts-table">
      {% include "partials/accounts_table.html" %}
    </tbody>
  </table>
</div>
</div>
<!-- HTMX Modal Container (used only for Create + Delete confirm) -->
<div id="modal"></div>

{% endblock %}
